{{> menu id="about"}}

<section class="ui middle aligned segment">
    <h1 class="ui primary center aligned header">About Weather Top Release 3</h1>
    <img class="ui image" src="https://weather-top-v3.glitch.me/images/about-weather.png">
    <h4>
        Weather Top Release 3 gives you a comprehensive overview of your weather station data. In this version, users
        can setup a personalised login, allowing them to view their individual weather stations from the Dashboard. User
        details can also be edited within their profile. Furthermore, users have the ability to view specific weather
        data for each station, including:
        <ul>
            <li>
                Weather type (including helpful demo icons)
            </li>
            <li>
                Temperature (Celsius (min, max, and trends) and Fahrenheit)
            </li>
            <li>
                Wind Behaviour (Strength (min, max, and trends), Direction, Wind Chill)
            </li>
            <li>
                Pressure (min, max, and trends)
            </li>
        </ul>
        Users can add/delete readings for each station (via each Station page), or add/delete stations (via the
        Dashboard). An overview of all stations is presented in the dashboard, listing stations alphabetically.
    </h4>
</section>