{{> welcomemenu }}

<section class="ui center aligned middle aligned blue inverted segment">
    <h1 class="ui header">
        Welcome to Weather Top Release 4
    </h1>
    <img class="ui large centered image" src="https://weather-top-v4.glitch.me/images/weather-chart.jpg">
    <h3>
        Your ultimate control system for all your weather station management requirements.
    </h3>
</section>