{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{theList.name}}
  </h2>
  <h4> Minimum Temperature: {{minimumTemperature}}</h4>
  {{> listreadings}}
  {{> addreading}}
</section>